{% extends "base_generic.html" %}

{% block content %}
    <h1>Author List</h1>

    {% if author_list %}
    <ul>

      {% for author in author_list %}
      <li>
        <a href="{{ author.get_absolute_url }}">{{ author.last_name }}, {{ author.first_name }}</a>
          <a href="{% url 'author_update' author.id %}">Update</a> <a href="{% url 'author_delete' author.id %}">Delete</a>
      </li>
      {% endfor %}

    </ul>
    {% if user.is_authenticated %}
    {% if user.is_staff %}
    <a href="{% url 'author_create' %}">Create new author</a>
    {% endif %}
    {% endif %}
    {% else %}
      <p>There are no authors in the library.</p>
    {% endif %}
{% endblock %}